<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <dubbo:protocol name="dubbo" port="20883"></dubbo:protocol>
    <dubbo:application name="youlexuan-content-service"/>
    <dubbo:registry address="zookeeper://192.168.157.101:2181"/>
    <dubbo:annotation package="com.offcn.search.service.impl" />

    <solr:solr-server id="solrServer" url="http://192.168.157.101:8983/solr/collection" />

    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg ref="solrServer" />
    </bean>
    <!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.157.101:61616"/>
    </bean>

    <!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>
    <!--这个是队列目的地，点对点的  文本信息-->
    <bean id="queueSolrDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="youlexuan_queue_solr"/>
    </bean>
    <bean id="itemSearchListener" class="com.offcn.search.service.impl.ItemSearchListener"></bean>
    <!-- 消息监听容器 -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="queueSolrDestination" />
        <property name="messageListener" ref="itemSearchListener" />
    </bean>
    <bean id="queueSolrDeleteDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="youlexuan_queue_solr_delete"/>
    </bean>

    <bean id="itemDeleteListener" class="com.offcn.search.service.impl.ItemDeleteListener"></bean>
    <!-- 消息监听容器(删除索引库中记录) -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="queueSolrDeleteDestination" />
        <property name="messageListener" ref="itemDeleteListener" />
    </bean>

</beans>